.BannerLeft {
    background-image: url("../images/tablet/image-hero.png"); 
    background-size: cover; 
    width: 414px; 
    height: 153px; 
    align-self: center; 
    margin-bottom: 50px; 
    
}

/* Tablette */
@media screen and (min-width: 769px){
    .BannerLeft {
        background-image: url("../images/tablet/image-hero.png"); 
        width: 820px; 
        height: 300px; 
    }
}

