.Button{
    height: 58px; 
    border-radius: 40px; 
    border: none; 
    font-family: 'Red Hat Display', sans-sefif;
    font-weight: 700; 
    color: #FFF; 
    font-size: 16px; 
}

.btn1{
    width: 190px; 
    background-color: #4D96A9; 
    margin-bottom: 15px; 
}


.btn2{
    width: 140px; 
    background-color: #855FB1; 
    margin-bottom: 60px; 
}

.btn3 {
    width: 190px; 
    background-color: #855FB1; 
}
.btn3 .version {
    color: #D9B8FF; 
}
.btn1 .version {
    color: #8FE3F9;
}


/* Tablette */
@media screen and (min-width: 769px){
    .btn1, .btn2 {
        margin: 0; 
    }
    .btn1 {
        margin-right: 15px; 
    }
    .btn3  {
        margin-bottom: 70px; 
    }
}


/* Desktop */
@media screen and (min-width: 1441px){

    .btn3 {
        margin: 0; 
    }
}
