.LandingPage {
    width: 375px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #FAFAFA; 
    padding: 25px; 
    overflow: hidden; 
}

/* Tablette */
@media screen and (min-width: 769px){
    .LandingPage {
        width: 768px; 
    }
}