.LandingPage {
    width: 375px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #FAFAFA; 
    padding: 25px; 
    overflow: hidden; 
}