.Picture {
    width: 150px; 
    border-radius: 8px; 
    margin-bottom: 22px; 
}

/* Tablette */
@media screen and (min-width: 769px){
    .Picture {
        width: 164px; 
        height: 156px; 
        border-radius: 8px; 
        margin-bottom: 22px; 
    }
}

/* Desktop */
@media screen and (min-width: 1441px){
    .Picture {
        width: 255px; 
        height: 242px; 
    }
}
