.TextIntroduction {
    text-align: center; 
}

.textIntroductionTitle{
    margin-bottom: 30px; 
    font-weight: 900; 
    font-size: 40px; 
    line-height: 45px; 
    color: #28283D; 
}

.textIntroductionParagraph {
    margin-bottom: 30px; 
    font-size: 16px; 
    font-weight: 500; 
    color: #87879D; 
    line-height: 28px; 
}

/* Tablette */
@media screen and (min-width: 769px){
    .TextIntroduction {
        width: 455px; 
    }
    .textIntroductionTitle{
        font-size: 48px; 
    }
}