
.TextPresentation {
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    margin-top: 40px; 
    margin-bottom: 180px; 
}

.textPresentationSlogan {
    margin-bottom: 30px; 
    font-size: 16px; 
    font-weight: 900; 
    text-transform: uppercase; 
    letter-spacing: 4px; 
    color: #4D96A9; 

}

.textPresentationTitle {
    margin-bottom: 35px; 
    font-size: 32px; 
    font-weight: 900; 
    line-height: 40px; 
}

.textPresentationParagraph {
    font-size: 16px; 
    font-weight: 500; 
    color: #87879D; 
    line-height: 25px; 
}

/* Tablette */
@media screen and (min-width: 769px){
    .TextPresentation {
        width: 570px; 
        align-items: center; 
        justify-content: right; 

    }
    .textPresentationTitle {
        font-size: 40px; 
        width: 445px; 
        text-align: center; 
    }
}